<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/capacebook"
        android:label="@string/app_name"
        android:roundIcon="@drawable/capacebook"
        android:supportsRtl="true"
        android:theme="@style/Theme.Capacebook"
        tools:targetApi="31">
        <activity
            android:name=".screenflash"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".welcomepage"></activity>
        <activity android:name=".login"></activity>
        <activity android:name=".register"></activity>
        <activity android:name=".addprofile"></activity>
        <activity android:name=".addpost"></activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".messagepage"></activity>
        <activity android:name=".chatpage"></activity>
    </application>

</manifest>